apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: traefik-ingress
  namespace: traefik
spec:
  ingressClassName: kong
  rules:
  # - host: traefik.app.com
  - http:
      paths:
      - path: /traefik
        pathType: Prefix
        backend:
          service:
            name: whoami-service
            port:
              number: 80
