#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   https://www.haproxy.org/download/1.8/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # utilize system-wide crypto-policies
#    ssl-default-bind-ciphers PROFILE=SYSTEM
#    ssl-default-server-ciphers PROFILE=SYSTEM

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    tcp
    log                     global
    option                  tcplog
    option                  dontlognull
    option                  redispatch
    retries                 3

    timeout queue           1m
    timeout connect         5s
    timeout client          1m
    timeout server          1m
    timeout check           5s
    maxconn                 3000 

#---------------------------------------------------------------------
# STATS DASHBOARD
#---------------------------------------------------------------------
listen stats
    mode http                             
    bind *:7000
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if LOCALHOST                
    # stats auth admin:password123          


#---------------------------------------------------------------------
# WRITE POOL
#---------------------------------------------------------------------
listen postgres_write
    bind *:5000
    mode tcp
    option httpchk GET /master
    http-check expect status 200           
    
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

    server master-node 192.168.100.251:5432 maxconn 100 check port 8008
    server standby-1   192.168.100.152:5432 maxconn 100 check port 8008
    server standby-2   192.168.100.153:5432 maxconn 100 check port 8008

#---------------------------------------------------------------------
# READ POOL
#---------------------------------------------------------------------
listen postgres_read
    bind *:5001
    mode tcp
    balance roundrobin                     
    option httpchk GET /replica             
    http-check expect status 200            
    
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

 
    server master-node 192.168.100.251:5432 maxconn 100 check port 8008
    server standby-1   192.168.100.152:5432 maxconn 100 check port 8008
    server standby-2   192.168.100.153:5432 maxconn 100 check port 8008
