[Unit]
Description = Dgraph Alpha
After=network-online.target dgraph-zero.service
Wants=network-online.target
Requires=dgraph-zero.service

[Service]
Type = simple
User = dgraph
Group = dgraph
WorkingDirectory=/var/lib/dgraph/alpha

ExecStart = /usr/local/bin/dgraph alpha \
    --my={{ my_hostname }}:7080 \
    --zero=dgraph-node-01:5080,dgraph-node-02:5080,dgraph-node-03:5080 \
    --security whitelist=192.168.100.212,192.168.100.213 \
    -p /var/lib/dgraph/alpha/postings \
    -w /var/lib/dgraph/alpha/wal \
    --bindall \
    --v=2 \
    --logtostderr
Restart=on-failure
RestartSec=5
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target